# configuration for OwnTracks backend quicksetup

# Specify your DNS domain, the name by which this OwnTracks
# backend will be reacheable. We use this to enroll in
# Let's Encrypt certificates for this domain on your behalf
#
# Make sure you replace 'owntracks.example.net' by the correct
# name for your installation.
#

dns_domain: "owntracks.example.net"

# Specify your email address. We use this when signing up on your
# behalf to Let's Encrypt and for nothing else. If you don't
# configure an email address, we set up without SSL/TLS

email: "you@example.net"

# We strongly recommend you sign up for the free reverse geo
# service at OpenCage. It costs you nothing, and they provide
# you with an API key you add here.
#

# opencage_apikey: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Configure yourself and a list of friends who will be using
# this backend. Each friend will use their "username" to login
# to the site and to the apps. Their device is a "devicename"
# (this can be any suitable name, but we recommend you keep it
# generic so as to not have to change this if you move to a
# distinct device; i.e. "myphone" instead of "siemens-e2"),
# and their "tid" is a tracker- id which is used to label users
# on the map. A tid is a string of length two characters.
# Optionally a "password" may be set below; if omitted, passwords
# are generated and stored at /usr/local/owntracks/userdata/*.pass
# on this system.
#
# username and devicename may contain digits and *lowercase* letters.

friends:
  - { tid: "JJ", username: "jane",     devicename: "nokia" }
  - { tid: "AA", username: "ernesto",  devicename: "s10" }
  - { tid: "BB", username: "sue",      devicename: "myphone" }


# ---- advanced options below

# Path to an optional Lua script the Recorder should load at
# startup.

# lua_script: "/path/to/example.lua"
