// {{ ansible_managed }}
window.owntracks = window.owntracks || {};
window.owntracks.config = {
  api: {
    baseUrl: "{{ scheme }}://{{ dns_domain }}/owntracks",
  },
  router: {
    basePath: "/owntracks/frontend",
  },
};
