#/bin/sh

# Publish a CARD for the first friend
# this is here simply as a mechanism for automating
# documentation; recall the mosquitto clients are
# autoconfigured at $HOME/.config/mosquitto_[pb]ub


username="${u:={{ friends[0].username}}}"
devicename="${d:={{ friends[0].devicename}}}"
tid="${t:={{ friends[0].tid }}}"

topic="owntracks/${username}/${devicename}/info"

name="${username} ${tid}"
face="{{ lookup('file', 'files/mosquitto/assets/logo-owntracks-grayscale-96x96.jpg') | b64encode }}"

jo \
	_type=card \
	name="${name} ${tid}" \
	face="${face}" |
	mosquitto_pub -r -t "${topic}" -l

