# {{ ansible_managed }}

# anon
topic read test/#

# recorder needs readwrite in order to publish TOURS list
user recorder
topic read owntracks/#
topic write owntracks/+/+/cmd

# local reader will be able to read everything and write in
# owntracks/ which permits console user to, say, delete
# retained messages
user _lr
topic read #
topic read $SYS/#
topic write owntracks/#

{#
# Lua
topic write owntracks/+/+
#}

# -- configured users -------------------------------------
{% for f in friends | unique(case_sensitive=false, attribute='username') %}
{{ f.username | mqtt_acl() }}
{% endfor %}
