# {{ ansible_managed }}

# anon
topic read test/#

# recorder needs readwrite in order to publish TOURS list
user recorder
topic read owntracks/#
topic write owntracks/+/+/cmd

# local reader will be able to read everything and write in
# owntracks/ which permits console user to, say, delete
# retained messages
user _lr
topic read #
topic write owntracks/#

{#
# Lua
topic write owntracks/+/+
#}

#----------------------------
{% for u in friends|list %}
user {{ u.username }}
{# topic read $SYS/# #}
topic readwrite owntracks/{{ u.username }}/#
topic read owntracks/+/+
topic read owntracks/+/+/event
topic read owntracks/+/+/info

{% endfor %}
