{% set u = item.username|string %}
{% set d = item.devicename|string %}
{% set data = {
	"_type": "configuration",
	"allowRemoteLocation": True,
	"auth": True,
	"cleanSession": False,
	"clientId" : "%s-%s" % (u, d),
	"cmd": True,
	"deviceId": d,
	"extendedData": True,
	"keepalive": 55,
	"mode" : (item.httpmode is defined and item.httpmode) | ternary(3, 0),
	"mqttProtocolLevel" : 3,
	"host": dns_domain,
	"password": item.password|string,
	"port": 8883,
	"positions": 200,
	"pubQos": 2,
	"pubRetain": True,
	"pubTopicBase": "owntracks/%s/%s" % (u, d),
	"subTopic" : "owntracks/+/+ owntracks/+/+/event owntracks/+/+/info owntracks/%s/%s/cmd" % (u, d),
	"ranging": True,
	"sub": True,
	"subQos": 2,
	"tid": item.tid,
	"tls": True,
	"url" : "https://%s/owntracks/pub" % (dns_domain),
	"usePassword": True,
	"username": u,
	"willQos": 1,
	"willRetain": False,
	"willTopic": "",
	"ws": False,
	"mapLayerStyle" : "OpenStreetMapNormal",
    } %}
{% if item.secret is defined %}
{%   set x = data.update({ "encryptionKey": item.secret|string }) %}
{% endif %}
{# -- #}
{# Android only but iOS ignores these #}
{% set f = [ "bearingArrowFollowsDeviceOrientation",
	       "showExperimentalPreferenceUI",
	       "allowSmallKeepalive",
	       "useOSMMap" ] %}
{% if opencage_apikey is defined %}
{%   set x = data.update({ "opencageApiKey": opencage_apikey|string }) %}
{%   set x = data.update({ "reverseGeocodeProvider": "OpenCage" }) %}
{% endif %}
{% set x = data.update({ "experimentalFeatures": f }) %}
{{ data | to_nice_json }}
