<!DOCTYPE html>
<head>
<title>My OwnTracks</title>
<style>
	body, html {
		height: 100%;
		min-height: 100%;
		font-family: 'Arial', sans-serif;
		color: #818181;
		font-size: 120%;
		margin: 20px;
	}

	h2 {
		font-size: 120%;
	}

	p, ul {
		text-align: left;
		margin: 15px;
		line-height: 140%;
		width: 90%;
	}

	.conf {
		font-size: 80%;
	}


	pre {
		white-space:pre-wrap;
		overflow-y:scroll;
		max-width:400px;
		height:80px;
		border:0.5px solid lightgray; padding:5px;
	}

	a { text-decoration:  underline; color: inherit;}

	img {
		width: 96;
		height: 96;
		position: absolute;
		right:0;
		top:0;
	}
	div {
		position: absolute;
		left: 0;
		top: 20px;
		background-color: white;
		width: 90%;
	}
</style>
</head>
<body>
<div id="logo">
	<img src="logo-owntracks-grayscale-96x96.jpg" alt="OwnTracks" />
</div>

<h2>My OwnTracks</h2>
<ul>
<li><a href="/owntracks/frontend/">Frontend</a></li>
<li><a href="/owntracks/table/">Device table</a></li>
<li><a href="/owntracks/last/">Live map</a></li>

<!--
<li><a href="/owntracks/map/index.html?from=2024-02-02T01:24:40&to=2024-02-02T13:24:40&format=geojson&user=jane&device=nokia">Last 12 hours in GeoJSON points</a></li>
-->

<!--
<li><a href="/owntracks/api/0/locations?from=2023-12-17&to=2023-12-21&format=geojsonpoi&user=jane&device=phone">Points of Interest from past month</a></li>
-->

<li style="margin-top: 50px;">To configure your Android or iOS OwnTracks app, either
<ul>
	<li class="conf">open this page on your device and <a href="<?php remoteconf($_SERVER['REMOTE_USER']); ?>">configure it with a click</a></li>
	<li class="conf">download an <a href="otrc.php">otrc file</a> which you send yourself by email, say, and open to launch into OwnTracks</li>
	<li class="conf">copy the file <code>/usr/local/owntracks/userdata/<?php echo $_SERVER['REMOTE_USER']; ?>.otrc</code></li>
</ul>

</ul>
</li>

</html>

<?php
function remoteconf($username) {
	$fname = "/usr/local/owntracks/userdata/{$username}.otrc";
	$data = file_get_contents($fname);
	$config= base64_encode($data);
	echo("owntracks:///config?inline={$config}");
}
?>
</body>
</html>
