<!DOCTYPE html>
<head>
<title>My OwnTracks</title>
<style>
	body, html {
		height: 100%;
		min-height: 100%;
		font-family: 'Arial', sans-serif;
		color: #818181;
		font-size: 120%;
		margin: 20px;
	}

	h2 {
		font-size: 120%;
	}

	p, ul {
		text-align: left;
		margin: 15px;
		line-height: 140%;
		width: 90%;
	}

	.conf {
		font-size: 80%;
	}

	table {
		border: 1px solid black;
		table-layout: fixed;
		width: 80%
	}
	th, td {
		border: 1px solid black;
		overflow: hidden;
	}

	.cen {
		text-align: center;
	}

	pre {
		white-space:pre-wrap;
		overflow-y:scroll;
		max-width:400px;
		height:80px;
		border:0.5px solid lightgray; padding:5px;
	}

	a { text-decoration:  underline; color: inherit;}

	img {
		width: 96;
		height: 96;
		position: absolute;
		right:0;
		top:0;
	}
	div {
		position: absolute;
		left: 0;
		top: 20px;
		background-color: white;
		width: 90%;
	}
</style>
</head>
<body>
<div id="logo">
	<img src="logo-owntracks-grayscale-96x96.jpg" alt="OwnTracks" />
</div>

<h2>My OwnTracks</h2>
<ul>
<li><a href="/owntracks/frontend/">Frontend</a></li>
<li><a href="/owntracks/table/">Device table</a></li>
<li><a href="/owntracks/last/">Live map</a></li>

<!--
<li><a href="/owntracks/map/index.html?from=2024-02-02T01:24:40&to=2024-02-02T13:24:40&format=geojson&user=jane&device=nokia">Last 12 hours in GeoJSON points</a></li>
-->

<!--
<li><a href="/owntracks/api/0/locations?from=2023-12-17&to=2023-12-21&format=geojsonpoi&user=jane&device=phone">Points of Interest from past month</a></li>
-->

</li>

<li style="margin-top: 50px;">You (<code><?php echo $_SERVER['REMOTE_USER']; ?></code
>) have the following devices to configure:
        <p class="conf">
        To configure your Android or iOS OwnTracks app, open this page on the device
and either click on the URLencode or download an <code>.otrc</code> file and send it
by email, say, to the device.
<ul>
<table class="devicetable">
<colgroup>
    <col style="width:40%">
    <col style="width:30%">
    <col style="width:30%">
  </colgroup>
<tr>
        <th>device</th>
        <th class='cen'>URLconfig</th>
        <th>OTRC file</th>
</tr>
<tbody>
<?php
        $user = $_SERVER['REMOTE_USER'];
        $userdata = "/usr/local/owntracks/userdata/";

        $otrcs = array_map('basename', glob($userdata . "${user}*.otrc"));
        foreach ($otrcs as $f) {
		$path = "$userdata/$f";
		$o = json_decode(file_get_contents($path), false);
		$d = $o->{"deviceId"};
		$otrc = strtolower("${user}-${d}.otrc");
		// print("<li class='conf'><span class='devname'>$d</span> <a href='" . remoteconf($user, $d) .  "'>URLconfig</a> or download <a href=''>${user}-${d}.otrc</a></li>");
		print("<tr>");
		print("<td>$d</td>");
		print("<td class='cen'><a href='" . remoteconf($user, $d) .  "'>click</a></td>");
		$file = strtolower("otrc.php?d=$d");
		print("<td><a href='$file'>$d</a></td>");
		print("</tr>");
	}
?>
</tbody>
</table>
</li>
</ul>

</html>

<?php
function remoteconf($username, $device) {
	$fname = strtolower("/usr/local/owntracks/userdata/{$username}-{$device}.otrc");
	$data = file_get_contents($fname);
	$config= base64_encode($data);

	return("owntracks:///config?inline={$config}");
}
?>
</body>
</html>
