<?php
	# provide content of a logged-in user's .otrc file

	// $u = preg_replace('/[^-a-zA-Z0-9_]/', '', $_GET['u']);
	$u = $_SERVER['REMOTE_USER'];
	$d = preg_replace('/[^-a-zA-Z0-9_]/', '', $_GET['d']);

	if (empty($u) || empty($d)) {
		die("nope");
	}

	$file = "/usr/local/owntracks/userdata/${u}-${d}.otrc";
	if (file_exists($file)) {

		header("Content-Description: File Transfer");
		header("Content-Type: application/json");
		header("Content-Disposition: attachment; filename=\"". basename($file) ."\"");

		readfile ($file);
	}
	exit();
?>
