#!/usr/bin/env bash

# enroll or update an ACME certificate using LEGO

# if we don't yet have a certificate, enroll, else renew.
# stop the Web server, as LEGO will launch its own.

# all output to file and begin with a datestamp

exec > >(tee -a /tmp/lego.log) 2>&1

TZ=UTC date +%FT%T

lego=/usr/bin/lego

systemctl is-active {{ httpserver }}.service > /dev/null &&
	systemctl stop {{ httpserver }}.service

# change into this directory in which LEGO will create its home (.lego/)
cd "{{ otdir }}/tls" || { echo "Cannot chdir to {{ otdir }}/tls"; exit 2; }

if ! [ -f "{{ otdir }}/tls/cert.crt" ]; then

	# enroll
	$lego \
		--accept-tos \
		--email="{{ email }}" \
		--domains="{{ dns_domain }}" \
		--http \
		run \
		--run-hook="{{ otdir }}/lego/installcerts.sh"
else

	# renew: https://go-acme.github.io/lego/usage/cli/renew-a-certificate/
	$lego \
		--email="{{ email }}" \
		--domains="{{ dns_domain }}" \
		--http \
		renew \
		--renew-hook="{{ otdir }}/lego/installcerts.sh"

	systemctl restart {{ httpserver }}.service
fi

