<head>
<title>My OwnTracks</title>
<style>
	body, html {
		height: 100%;
		min-height: 100%;
		font-family: 'Arial', sans-serif;
		color: #478db2;
	}

	h2 {
		font-size: 18px;
	}

	p, ul {
		text-align: left;
		padding-top: 25px;
		margin: 15px;
	}

	pre {
		white-space:pre-wrap;
		overflow-y:scroll;
		max-width:400px;
		height:80px;
		border:0.5px solid lightgray; padding:5px;
	}

	a { text-decoration:  underline; color: inherit;}
</style>
</head>

<h2>My OwnTracks</h2>
<ul>
<li><a href="/owntracks/frontend/">Frontend</a></li>
<li><a href="/owntracks/table/">Table of current positions</a></li>
<li><a href="/owntracks/last/">Map with live positions</a></li>
<!--
<li><a href="/owntracks/api/0/locations?from=2023-12-17&to=2023-12-21&format=geojsonpoi&user=jane&device=phone">Points of Interest from past month</a></li>
-->
</ul>

<h2>configuration</h3>
<p>
  There are two methods to configure your Android or iOS OwnTracks app; either should work:
</p>
<ul>
<li>Click on the <a href="<?php remoteconf($_SERVER['REMOTE_USER']); ?>">URL config</a> which should open in your installed OwnTracks app</li>
<li>Download an <a href="otrc.php">otrc file</a> which you send yourself by email, say, and open to launch into OwnTracks. Alternatively you can copy the file directly off the file system from <code>{{ userdata }}$_SERVER['REMOTE_USER']); ?>.otrc/</code></li>
</ul>

</html>

<?php
function remoteconf($username) {
	$fname = "/usr/local/owntracks/userdata/{$username}.otrc";
	$data = file_get_contents($fname);
	$config= base64_encode($data);
	echo("owntracks:///config?inline={$config}");
}
?>
