# {{ ansible_managed }}

<VirtualHost *:443>
	ServerName ot.tcp53.ch
	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/html
	LogLevel info ssl:warn
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

	#Include conf-available/serve-cgi-bin.conf

	SSLEngine on
	SSLCertificateFile /etc/mosquitto/certs/.lego/certificates/ot.tcp53.ch.crt
	SSLCertificateKeyFile /etc/mosquitto/certs/.lego/certificates/ot.tcp53.ch.key

	<Directory "/var/www/html/owntracks">
		AuthType Basic
		AuthName "My OwnTracks"
		AuthUserFile "{{ userdata }}/htpasswd"
		Require valid-user
	</Directory>

	# WebSocket URL endpoint
	# a2enmod proxy_wstunnel
	ProxyPass /owntracks/ws                 ws://127.0.0.1:8083/ws keepalive=on retry=60
	ProxyPassReverse /owntracks/ws          ws://127.0.0.1:8083/ws keepalive=on

	## Frontend is served by docker container
	#ProxyPass /owntracks/frontend/         http://127.0.0.1:8008/
	#ProxyPassReverse /owntracks/frontend/  http://127.0.0.1:8008/

	# Frontend (dist/) is now in /owntracks/frontend, served by Apache

	# API is served by the Recorder
	ProxyPass /owntracks/api/               http://127.0.0.1:8083/api/
	ProxyPassReverse /owntracks/api/        http://127.0.0.1:8083/api/

	# Live map (/last), map, and table view (/table) by Recorder
	ProxyPass /owntracks/last               http://127.0.0.1:8083/last
	ProxyPassReverse /owntracks/last        http://127.0.0.1:8083/last
	ProxyPass /owntracks/table              http://127.0.0.1:8083/table
	ProxyPassReverse /owntracks/table       http://127.0.0.1:8083/table
	ProxyPass /owntracks/map                http://127.0.0.1:8083/map
	ProxyPassReverse /owntracks/map         http://127.0.0.1:8083/map

	# HTTP POSTs to Recorder
	ProxyPass /owntracks/pub                http://127.0.0.1:8083/pub

	# Views are delivered by the Recorder
	ProxyPass /owntracks/view               http://127.0.0.1:8083/view
	ProxyPassReverse /owntracks/view        http://127.0.0.1:8083/view
	ProxyPass /owntracks/static             http://127.0.0.1:8083/static
	ProxyPassReverse /owntracks/static      http://127.0.0.1:8083/static
	ProxyPass /owntracks/utils              http://127.0.0.1:8083/utils
	ProxyPassReverse /owntracks/utils       http://127.0.0.1:8083/utils
	ProxyPass /owntracks/config.js          http://127.0.0.1:8083/config.js
	ProxyPassReverse /owntracks/config.js   http://127.0.0.1:8083/config.js

	<LocationMatch "^/owntracks/(ws|api|last|map|table|frontend)/">
		AuthType Basic
		AuthName "My OwnTracks"
		AuthBasicProvider file
		AuthUserFile "{{ userdata }}/htpasswd"
		Require valid-user
	</LocationMatch>

	<Location "/owntracks/pub">
		AuthType Basic
		AuthName "My OwnTracks"
		AuthBasicProvider file
		AuthUserFile "{{ userdata }}/htpasswd"
		<RequireAll>
			Require method POST
			Require valid-user
		</RequireAll>
	</Location>

</VirtualHost>
